.left{
    float:left;
}

.right{
    float:right;
}
.no-float{
	float: none;
}
.clear{
    clear:both;
}
.container{
	width:100%;
	/*max-width:1000px;*/
	height:725px;
	border:1px solid #ccc;
	float: left;
}

.side-section-container h3{
	padding-top:15px;
}
.side-section-container{
	width: 26.6666666667%; /*256px/960;*/
	float: left;
	border:1px solid #ccc;
	text-align:center;
	height:100%;
	position: relative;
	overflow: auto;
}
.side-section-content{
	float:left;
	margin-left:7.291666666666667%;
	margin-top:7.291666666666667%;
}
.side-section-content img{
	width:100px;
	height:75px;	
}
.side-section-footer{
	bottom:0px;
	position: absolute;
	height: 6.299% ;/*40px/635*/;
	width:100%;
	background-color: #DDD;
}
.side-section-footer img{
	float:left;
	width:25px;
	height:25px;
	padding:5px;
}
.side-section-content span{
	display: block;
	font-size:1.4em;
	width:100px;
	padding-top:2px;
	word-wrap: break-word;
	height:30px;
	overflow: hidden;
}

/* ---------- MAIN SECTION & CONTENTS----------------*/

.main-section{
	width: 72.91666666666667%; /*700px/960*/;
	/*border:1px solid #ccc;*/
	float: left;
	height:100%;
	overflow: hidden;
}

.main-content{
	margin: 2.85714285714286%; /*20px;*/
}

.btn-custom {
    background-color: hsl(101, 63%, 40%) ;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#5ec72d), to(#4ea625));
    background-image: -moz-linear-gradient(top, #5ec72d, #4ea625);
    background-image: -ms-linear-gradient(top, #5ec72d, #4ea625);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5ec72d), color-stop(100%, #4ea625));
    background-image: -webkit-linear-gradient(top, #5ec72d, #4ea625);
    background-image: -o-linear-gradient(top, #5ec72d, #4ea625);
    background-image: linear-gradient(#5ec72d, #4ea625);
    border-color: #4ea625 #4ea625 hsl(101, 63%, 38%);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.13);
    -webkit-font-smoothing: antialiased;
    -webkit-border-radius: 3px;
    width:135px;
    height:25px;
    padding-top:10px;
    text-align:center;
    font-size:1.4em;
    cursor: pointer;
}

.search-wrapper{
    float:right;
    width:42.85714285714286%; /*(280+20)px/700 */
}

#search-btn{
    width:50px;
    height:22px;
    margin-left:10px;
    padding-top:5px;
}
#create-new-story{
    float:left;
}

.recent-stories,
.favorite-stories{
	margin-top:20px;
}

.recent-stories h3,
.favorite-stories h3 {
	display: inline-block;
	font-weight:bold;
}

.recent-story, .favorite-story{
	height:135px;
	float:left;
	width:100%;
	clear: both;
}
.recent-story h4, .favorite-story h4{
	margin:10px 0;
	float: left;
	font-weight:normal;
}
.recent-story span, .favorite-story span{
	position: absolute;
	top: 56px; /* half of img dimensions so as to be centered */
	left: 12px;
	font-size: 1.4em;
	width: 80px;
	display: inline-block;
	height: 1.4em;
	overflow: hidden;
	text-align: center;
	background-color: #999;
}
.story-images-clubbed{
	position: relative;
	clear:both;
}

.story-images-clubbed img{
	position: absolute;
	padding: 2px;
	background-color: white;
	border: 1px solid #BBB;
	width:100px;
	height:75px;
}

img.thumbnail-1{
	z-index: 2;
	left: 0px;
	
}
img.thumbnail-2{
	z-index: -2;
	left: 15px;
}
img.thumbnail-3{
	z-index: -3;
	left: 25px;
}

.edit-play-wrapper{
	float:left;
	margin-left: 175px;
	margin-top: 20px;
}

.edit-play-wrapper .btn-custom{
 	float:left;
 	margin-left:15px;
 	width:75px;
}

.right-icons{
 	position: absolute;
 	right:0px;
 	width:65px;
}
.right-icons img{
 	padding:5px 5px 0 0;
 	width:21px;
	height:20px;
 }

.loading-icon{
	position:absolute;
	top:35%; 
	left:50%;
	width:50px; 
	height:50px;
	display: none;
}